html {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	background: rgb(141, 14, 87);
}
#page  {
	position: relative;
	min-height: 100%;
}
#container {
	background-color: white;
	border: 3px solid black;
	padding: 2px;
	padding-bottom: 5%; 
	width: 80%;
	margin-left:10%;
	height: 100%;
	min-height: 100%;
	position: relative;
}
#page-wrapper {
	width: 600px;
	background: #cee1fd;
	padding: 1em;
	margin: 1em auto;
	border-top: 5px solid #69c773;
	box-shadow: 0 2px 10px rgba(0,0,0,0.8);

}

#modeemploi {
	margin-right: auto; 
	margin-left: auto; 
	background: #cee1fd;
	border-top: 5px solid #69c773;
	width: 80%; 
	border: 3px; 
	display:table;
}

#Global {
	margin-right: auto; 
	margin-left: auto; 
	width: 80%; 
	border: 3px; 
	display:table;
}
#Global #fileDisplayArea {
	float:left;
	width:48%;
	background: #FFF;
	font-size:0.6em;
	height:200px;
	overflow:scroll;
}
#Global #page-analysis {
	margin-left:52%   
	background: #FFF;
	height:200px;
	overflow:scroll;
}
h1 {
	margin-top: 0;
	color:black;
}

img {
	max-width: 100%;
}
table, th , td {
		border: 1px solid grey;
		border-collapse: collapse;
		padding: 5px;
		text-align:center;
		/*font-size:9px*/
}
table tr:nth-child(odd) {
		background-color: #dfdfdf;
}
table tr:nth-child(even) {
		background-color: #ffffff;
}
th {
		background:#abcdef;
}
